@font-face {
    font-family: AU_Passata;
    src: url(font-au/AUPassata_Rg.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AU_Passata;
    src: url(font-au/AUPassata_Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: AU_Passata;
    src: url(font-au/AUPassata_Light.ttf);
    font-weight: normal;
    font-style: italic;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: AU_Passata, sans-serif;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: AU_Passata, "opensans-bold", sans-serif;
    font-weight: bold;
}

p {
    font: 19px/28px AU_Passata, "opensans-light", sans-serif;
}

img {
    width: 100%;
}

/*
 ********* Header Section *********
 */

#header-section {
    /*background: url("../img/background.svg") no-repeat center;
    background-size: cover;*/
    padding-top: 60px;
    height: 100vh;
}

/*
 ********* Dice Section *********
 */

#dice-section {
    height: 100vh;
}

/*
 ********* Cards Section *********
 */

#cards-section {
    height: 100vh;
}

/*
 ********* Footer Section *********
 */

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}

footer hr {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ffffff;
}

.vertical-center {
    vertical-align: middle !important;
}